mixin menu(menuplace)
  li.menu-name-home: a(href="/" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'Home');") Hom<span>e</span>
  li.menu-name-research: a(href="/research" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'Research');") Researc<span>h</span>
  li.menu-name-cv: a(href="https://drive.google.com/file/d/1P3rTeJtPRlIMhha3hauKHkdX2BGse3ht/view" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'CV');") C<span>V</span>
  li.menu-name-transcript: a(href="https://drive.google.com/file/d/0B1o_SCwTPL6TTXBFa0Z6M2J4VTA/view" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'Transcript');") Transcrip<span>t</span>
  li.menu-name-more: a(href="/more" class="special-link" onclick="ga('send', 'event', '#{menuplace}', 'Click', 'More');") Mor<span>e</span>

.menu-desktop.hide.d-show
  ul
    +menu('Desktop Menu')

.menu-mobile.d-hide

  .icon-menu
    include ../images/menu-icon.svg

  .site-menu-overlay.hidden

  .icon-menu-close.hidden
    include ../images/icon-close.svg

  .site-menu.hidden
    ul
      +menu('Mobile Menu')
